#thanks-for-ordering {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

#thanks-for-ordering .card {
    padding: 12px 20px;
    margin-block: 30px;
}

#thanks-for-ordering .card svg {
    height: 16px;
    margin-left: 8px;
}

#thanks-for-ordering > h2 {
    margin-inline: 2em;
    font-size: min(2.2em, 4vw);
    text-align: center;
}

#thanks-for-ordering>h1 {
    background-image: url('/static/luch_app/img/thanks_background_0.jpg');
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    background-attachment: fixed;

    color: #1113;
    font-size: 10vw;
    font-weight: 800;
    font-family: "Alegreya Sans SC", sans-serif;

    animation: thanks-background-pan 25s linear infinite;
}

@keyframes thanks-background-pan {
    0% {
        background-position: 10% 60%;
    }

    30% {
        background-position: 50% 100%;
    }

    30.1% {
        background-position: 100% 10%;
    }

    70% {
        background-position: 30% 80%;
    }

    70.1% {
        background-position: 60% 50%;
    }

    100% {
        background-position: 0% 0%;
    }
}